{% extends 'base.html' %}
{% block title %}
Create article
{% endblock %}

{% block body %}

<div class="container mt-5">
    <h1>Create article</h1>
    <form method="post">
        <input type="text" name="title" id="title" placeholder="Enter title" class="form-control"><br>
        <textarea name="intro" id="intro" cols="30" rows="10" placeholder="Enter intro" class="form-control"></textarea><br>
        <textarea name="text" id="text" cols="30" rows="10" placeholder="Enter main text" class="form-control"></textarea><br>
        <input type="submit" class="btn btn-success" value="Send"><br>
    </form>

</div>
{% endblock %}