{% extends 'base.html' %}
{% block title %}
    OvenPlayer - HTML5 Video Player
{% endblock %}

{% block body %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40491361-8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-40491361-8');
    </script>

    <script src="{{ url_for('static', filename='OvenPlayer/docs/lib/vue.min.js') }}"></script>
    <script src="{{ url_for('static', filename='OvenPlayer/docs/lib/dash.all.min.js') }}"></script>
    <script src="{{ url_for('static', filename='OvenPlayer/docs/lib/clipboard.min.js') }}"></script>
    <script src="{{ url_for('static', filename='OvenPlayer/docs/lib/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='OvenPlayer/docs/lib/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='OvenPlayer/docs/lib/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='OvenPlayer/dist/production/ovenplayer/ovenplayer.js') }}"></script>


<header class="masthead">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7 my-auto">
                <div id="player"></div>
            </div>
        </div>
    </div>
</header>

<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>

<script>
    $( document ).ready(function() {

	var player = OvenPlayer.create("player", {
		    sources: [
			      {
				          "file": "wss://s8o.hopto.org:3334/app/stream?transport=tcp",
				          "type": "webrtc"
				        }
			    ]
	});
        player.on("ready", function(data){
        });
        player.on("error", function(error){
            console.log(error);
        });
    });

</script>
{% endblock %}
